.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: aliceblue;
}

input[type=text],
input[type=submit] {
  width: 300px;
  height: 30px;
  margin: 10px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li {
  list-style: none;
}

li::before {
  content: "✨";
}

.attribute-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.attribute-data>table {
  width: 80%;
}

.attribute-data>table>tbody>tr>td {
  border-bottom: 1px solid rgb(94, 88, 88);
}

.attribute-data>table>tbody>tr>td>button {
  border: none;
  cursor: pointer;
  border-radius:50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}